<div>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand text-secondary font-weight-bold" href="#">
            <img class="mr-2 logo" src="../assets/images/Microsoft_logo.png" />Microsoft</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <img class="rounded-circle mr-2 user-photo" *ngIf="user.photo" [src]="user.photo">
                    <img class="user-photo mr-2" *ngIf="!user.photo" src="../assets/images/user.png">
                    <a class="nav-link d-inline text-dark font-weight-bold" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" [innerHTML]="user.name">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row justify-content-md-center mt-p10">
            <div class="col col-lg-5 text-center">
                <h1 class="text-center text-secondary mb-4">
                    <!-- <img class="mr-4" height="80" src="../../../assets/images/Microsoft_logo.png" alt="">  -->
                    Help Me Connect
                    <!-- <img class="mr-4" height="0" src="../../../assets/images/user.png" alt=""> -->
                </h1>

                <div class="input-group">
                    <input type="text" class="form-control" name="root-search" [(ngModel)]="query" placeholder="Search for..." (keyup.enter)="search(query)"
                        autofocus>
                    <div class="input-group-append">
                        <button class="btn btn-default input-group-text" type="button" (click)="search(query)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>