html, 
* {
    box-shadow: none !important;
    outline: none !important;
    border-radius: 0;
    /* border-width: 0; */
}

body {
    height: 100%;
}

.form-control:focus {
    border-color: #ced4da;
}

.user-photo {
    width: 35px !important;
}

.logo{
    height: 24px;
}

.mt-p10{
    margin-top: 10%;
}

.h-50px {
    height: 50px !important;
}

.point{
    cursor: pointer;
}

.text-green{
    color: #81b900;
}

.text-yellow{
    color: #ffb902;
}

.text-blue{
    color: #01a4ef;
}

.input-group{
    position: relative;
}

.icon-search{
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 9
}